h1 {
    color: white;
    background-color: red;
    line-height: 1.5em;
    text-align: center;
    padding: 30px;
    font-size: 5em;
    margin-bottom: 200px;
}

form {
    text-align: center;
}

fieldset {
    color:black;
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
    width: 300px; 
    margin: 20px auto; 
    padding: 20px;   
}
    
.alinhar {
  padding: 20px 20px;
  margin: 0 auto;
  margin-bottom: -30px;
}

button {
    background-color: red;
    color: white;
}

